<h1 class="text-center">Inspection Application</h1>
<br>
<h2 class="text-center">Inspection</h2>
<br>
<!-- Add New Inspection Trigger Model -->
<button type="button" class="btn btn-primary float-end m-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
(click)="modalAdd()"
>
    Create Inspection
</button>
<!-- Show Inspection Types modal -->
<button type="button" class="btn btn-secondary float-end m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Show Inspection Types
</button>
<br>
<br>
<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Inspection Type</th>
        <th>Status</th>
        <th>Comments</th>
    </thead>
    <tbody>
        <tr *ngFor="let x of inspectionList$|async">
            <td>{{x.id}}</td>
            <td>{{inspectionTypesMap.get(x.inspectionTypeId)}}</td>
            <!--<td>{{x.inspectionTypeId}}</td> -->
            <td>{{x.status}}</td>
            <td>{{x.description}}</td>
        </tr>
    </tbody>
</table>

<br>
<h2 class="text-center">Inspection Types</h2>
<br>
<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Inspection Name</th>
    </thead>
    <tbody>
        <tr *ngFor="let x of inspectionTypeList$|async">
            <td>{{x.id}}</td>
            <td>{{x.name}}</td>
        </tr>
    </tbody>
</table>

<br>
<h2 class="text-center">Status</h2>
<br>
<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Status Option</th>
    </thead>
    <tbody>
        <tr *ngFor="let x of statusList$|async">
            <td>{{x.id}}</td>
            <td>{{x.statusOption}}</td>
        </tr>
    </tbody>
</table>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Inspection Type</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p *ngFor="let x of inspectionTypeList$|async">{{x.id}} - {{x.name}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  

  <!-- Add Inspection Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{modalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                    <label for="Inspection Type ID" class="form-label">Inspection Type</label>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>
  
  
